<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Товар</title>



</head>
<body>
<p><a href="/">Назад к списку товаров</a></p>
    <h1>{{ product }}</h1>

{% if product.image %}<img src="{{ product.image.url }}" width="300" height="auto">{% endif %}

    <h3>{{ product.price }} руб.</h3>
    <h4>{{ product.description }}</h4>
<hr>
{% if order_sent %}
    <h2>Заказ отправлен</h2>
{% else %}
<h2>Заказать</h2>
<form action="" method="POST">
    {% csrf_token %}
    <input name="name" placeholder="Ваше имя" />
    <button type="submit">Отправить</button>
</form>
{% endif %}

</body>
</html>